.tabs {
  display: flex;
  border-radius: 16px;
  background-color: #181414;
  border: 1px solid rgba(50, 42, 42, 0.15);
  overflow: hidden;
  backdrop-filter: blur(10px);
  padding: 7px;
  user-select: none;
}
.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  color: #1c1c1c;
  transition: 0.2s;
  border-radius: 14px;
  cursor: pointer;
  user-select: none;
}
.tab_active {
  background: #1e1e26;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
